/* body{
    font-family: 'Lora', serif;
}

.title{
    margin-bottom: 0;
}
.subtitle{
    
}

header{
    margin-top: 15%;

    display: flex; 
    flex-direction: column;
    align-items: center;
} */


nav ul {
     list-style: none;
     display: flex;
}

nav li {
    
}

nav a {
    
}

nav a:hover {
    
}